.container {
    width: 80%;
    padding: 20px;
    padding-left: 10px;
    margin: auto;
}
.first-image,.second-image ,.third-image ,.fourth-image {
    width: 200px;
    display: inline-block;
    padding: 10px;
    margin: 10px;
}
.image {
    width: 100%;
    margin: 5px;
    height: 200px;
    border-radius: 10px;
}
.heading {
    text-align: center;
    color: #333;
    font-size: 2em;
    margin-bottom: 20px;
}
.title {
    text-align: center;
    color: #555;
    font-size: 1.5em;
    margin-top: 10px;
    
}
.description {
    text-align: center;
    color: #777;
    font-size: 1em;
    margin-top: 5px;
}
.image:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}
*{
    background-color: lightblue;
}